<div class="row" id="mojRed">
</div>
<div class="container" >
	<div class="row" id="opis">
		<div class="col-sm-6" >
			<div class="image-wrapper">
				<img src="assets/carousel_medium_01-b50890c4b0606543ff0cc966cc09b82a4015889c062dbf98e7e11d118e27037e.jpg" id="imgSize">
			</div>
		</div>

		<div class="col-sm-6">
			<div class="page-wrapper">
				<h4>Ovde Neki NAslov</h4>
				<p>Neki Text o vama, Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,</p>
			</div>
		</div>
	</div>

</div>