<div class="container" >
	<div class="row">
		<div class="col-sm-6" >
			<div class="page-wrapper">
				<div class="image-wrapper">
					<%= image_tag('profilna2.jpg') %>
				</div><!-- end image-wrapper -->
			</div><!-- end page-wrapper -->
		</div><!-- end col-sm-6 -->

		<div class="col-sm-6">
			<div class="page-wrapper">
				<h4>Ovde Neki Naslov</h4>
					<p>
						Neki Text o vama, Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama,Neki Text o vama
					</p>
			</div><!-- end page-wrapper -->
		</div><!-- end col-sm-6 -->
	</div><!-- end row -->
</div><!-- end container -->