<div class="container" >
  <div class="page-wrapper" id="contact-page">
    <div class="row">
      <div class="col-sm-12">
        <div class="description" >
          <p>
            TOTALSTUDIO
            <br>
            <br>
            +381 64 2349496<br>
            exitpr@gmail.com<br>
            total-studio.com<br>
            Knjaza Miloša bb.<br>
            38220 Kosovska Mitrovica<br>
            <br>
            <br>
            Slobodni smo da radimo svugde gde nas pozovete!
          </p>
        </div><!-- end description -->
      </div><!-- end col-12 -->
    </div><!-- end row -->
  </div><!-- end page-wrapper -->
</div><!-- end container -->