<div class="carousel slide" id="myCarousel">

			<!-- Carousel Indicators -->

			<ol class="carousel-indicators">
				
				<li class="active" data-slide-to="0" data-target="#myCarousel"></li>
				<li data-slide-to="1" data-target="#myCarousel"></li>
				<li data-slide-to="2" data-target="#myCarousel"></li>

			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" id="MyInner">
				<div class="item active" id="slide1">
					<div class="carousel-caption">
						
						<h4>Neki Naslov</h4>
						<p>Ovde mozemo postaviti neski text, kao opis date fotografije</p>

					</div><!-- end carousel-caption -->
				</div><!-- end item -->

				<div class="item" id="slide2">
					<div class="carousel-caption">
						<h4>Neki Naslov 2</h4>
						<p>Slika je skinuta sa danilosharon sajta i logo je implementiran na njoj.</p>
					</div><!-- end carousel-caption -->
				</div><!-- end item -->

				<div class="item" id="slide3">
					<div class="carousel-caption">
						<h4>Neki Naslov 3</h4>
						<p>Potrebno je da sve slike imaju istu rezoluciju da bi prikaz bio isti!</p>
					</div><!-- end carousel-caption -->
				</div><!-- end item -->

			</div><!-- end carousel-inner -->

			<!-- Controls strelice -->
			<a class="left carousel-control" data-slide="prev" href="#myCarousel"><span class="icon-prev"></span></a>
			<a class="right carousel-control" data-slide="next" href="#myCarousel"><span class="icon-next"></span></a>

</div><!-- end myCarousel -->
