
<div class="container" >
 <div class="page-wrapper" id="about-page">
  
  <div class="row">
    <div class="col-sm-12">
      <div class="title">
        <%= @contact.title %>
      </div>

      <div class="description" >
        <p><%= simple_format(@contact.description) %></p>
      </div><!-- end descritpion -->
    </div><!-- end col-12 -->
  </div><!-- end row -->
</div><!-- end page-wrapper -->
</div><!-- end container -->
<% content_for :title, "Contact" %>
<% content_for :description, @contact.description %>