<%= simple_form_for(@contact) do |f| %>
  <div class="panel-body">
    <div class="page-header">
      <div class="form-inputs">
        <%= f.input :title, label: "Naslov", autofocus: true, input_html: { class: 'form-control' } %>
        <p>Tag <span class="highLT">&lt;</span><span class="highELE">br</span><span class="highGT">&gt;</span>  prestavlja novi prazan red</p>
        <p> Prelazak u novi red pritiskom dugme Enter</p>
        <br>
        <%= f.input :description, label: "Opis", input_html: { class: 'form-control' } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit,  class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
