<%= simple_form_for(@contact) do |f| %>
  <div class="panel-body">
    <div class="page-header">
      <div class="form-inputs">
        <%= f.input :title, label: "Naslov", autofocus: true, input_html: { class: 'form-control' } %>
        <br>
        <%= f.input :description, label: "Opis", input_html: { class: 'form-control' } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit,  class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
