<div class="form-inline clearfix">
  <% if f.object.new_record?  %>
    <div class="nested-fields">
      <%= f.file_field :photo, id: 'upload-image', as: :file  %>
      <%= link_to_remove_association "Obrisi Sliku", f, class: "form-button btn btn-default" %>
    </div><!-- end nested-fields -->
  <% end %>

  <% if f.object.photo_file_name.present? %>
    <div class="nested-fields">
      <div class="image-wrapper" >
        <%= image_tag f.object.photo.url %>
        
      </div><!-- end image wrapper --> 
      <div class="buttons">
        <%= link_to_remove_association "Obrisi Sliku", f, class: "form-button btn btn-default" %>
      </div><!-- end links -->  
    </div><!-- end nested-fields -->
  <% end %>
</div><!-- form-inline clearfix -->