<div class="form-inline clearfix">
    <div class="nested-fields">
      <%= f.input :url, class: "form-input form-control" %>
      <%= link_to_remove_association "Obrisi Video", f, class: "form-button btn btn-default" %>
    </div>
</div>
 