<div class="form-inline clearfix">
    <div class="nested-fields">
      <%= f.input :url, label: "Link Youtube video: ", class: "form-input form-control" %>
      <div class="buttons">
        <%= link_to_remove_association "Obrisi Video", f, class: "form-button btn btn-default" %>
      </div><!-- end links --> 
    </div><!-- end nested-fields --> 
</div><!-- end form-inline clearfix --> 
 