<div class="container" id="indexBlog">
	<% @posts.in_groups_of(4, false).each do |group|  %>
		<div class="row">
			<% group.each do |post| %>
				<div class="col-md-3">
					<div class="post">
						<div class="image">						
							<%= link_to post do %>
								<%= image_tag post.image.url(:medium) %>
							<% end %>
						</div>

						<h2 class="title" id="postTitle"><%= link_to post.title, post %></h2>
						<p class="date"><%= post.created_at.strftime("%B, %d, %Y") %></p>
					</div>
				</div>
			<% end %>
		</div>	
	<% end %>
</div>
